
.App{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.container{
    border-radius: 10px;
}

body {
    background-color: aquamarine;
}

.marks {
    font-size: 79px;
}

.quoteBox-container{
    display: flex;
    max-width: 630px;
    padding: 16px;
    gap: 12px;
    border-radius: 24px;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 13px 10px 18px 0px rgba(0,0,0,0.57);

}

.quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.author{
    padding-right: 17px;
    text-align: end;
    font-weight: bold;
    font-style: italic;
}

button{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    align-items: end;
    margin-right: 13px;
    border: 0px;
    cursor: pointer;
}

.text-quote {
    text-align: center;
}

.arrow-button {
    margin-left: auto;
    padding-left: 2px;
}
.arrow-icon {
    margin: 0 auto;
    font-size: 20px;
    color: white;
}